.about {
  margin: auto;
}

.imgContainer {
  max-width: 100%;
  /* border: 3px solid white; */
  box-shadow: 0px 0px 8px rgb(0 0 0 / 30%);
}

.findButton {
  background-color: #eeb644;
  border-color: #eeb644;
  border-radius: 25px;
  color: #1b1b1c;
}

.findButton:hover {
  background-color: #d8d8d8;
  border-color: #d8d8d8;
}

/* call-to-action */

.callToActionContentArea {
  padding: 100px 0 170px;
  background-color: #f8f9fa;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .callToActionContentArea {
    padding-top: 180px;
  }
}

@media only screen and (max-width: 767.98px) {
  .callToActionContentArea {
    padding-top: 60px;
    margin-top: 30px;
  }
}

.callToActionContentArea .callToActionTxt h2 {
  font-size: 40px;
  margin-bottom: 35px;
  margin-top: -7px;
}

@media only screen and (max-width: 767.98px) {
  .callToActionContentArea .callToActionTxt h2 {
    font-size: 26px;
  }
  .callToActionContentArea .callToActionTxt h2 br {
    display: none;
  }
}

.callToActionContentArea.home2 {
  padding-bottom: 170px;
  margin-top: 0;
}

.callToActionImageArea {
  background-color: transparent;
  margin-top: -180px;
}

@media only screen and (min-width: 576px) {
  .callToActionImageArea {
    margin: auto;
    margin-top: -100px;
    margin-bottom: 95px;
    display: flex;
    justify-content: flex-end;
  }
  .imgWrapper {
    width: 80%;
  }
}
@media only screen and (min-width: 767px) {
  .callToActionImageArea {
    margin-top: -150px;
  }
  .imgWrapper {
    width: 60%;
  }
}
@media only screen and (min-width: 900px) {
  .callToActionImageArea {
    margin-top: -200px;
    margin-bottom: 60px;
  }
  .imgWrapper {
    width: 40%;
  }
}


/* subscribe to news */

.jumbo {
  background: url('https://images.unsplash.com/photo-1485291571150-772bcfc10da5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80') no-repeat fixed bottom;
  background-size: cover;
  color: #efefef;
  height: 400px;
  position: relative;
  z-index: -2;
  border: 1px solid green;
}

.overlay {
  background-color: #000000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}


.newsletterContent {
  color: #d8d8d8;
  padding: 100px 15px
}
.newsletterContent h2,
.newsletterContent h3,
.newsletterContent h4 {
    color: #fff;
    margin-top: 0
}

@media only screen and (min-width:768px) and (max-width:991.98px) {
  .newsletterContent {
      padding: 80px 15px
  }
}

@media only screen and (max-width:767.98px) {
  .newsletterContent {
      padding: 60px 15px
  }
}



.newsletterContent h4 {
  font-size: 24px;
  font-weight: 300
}

@media only screen and (max-width:767.98px) {
  .newsletterContent h4 {
      font-size: 20px
  }
}

.newsletterContent h4 span {
  color: #eeb644
}

.newsletterContent h2 {
  font-size: 32px;
  font-weight: 600
}

@media only screen and (max-width:767.98px) {
  .newsletterContent h2 {
      font-size: 26px
  }
}