.h2 {
  margin-bottom: 20px;
  color: #eeb644;
}

.priceAmoumt {
  font-weight: normal;
}

.table {
  border: #d8d8d8 1px solid;
  border-collapse: collapse;
  width: 100%;
}

.configOption,
.configLabel {
  width: 50%;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.configLabel {
  font-size: 18px;
  font-weight: 700;
}

.configOption {
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}

@media only screen and (min-width: 1200px) {
  .prodDetailsInfoContent {
    padding-left: 20px;
  }
}

.prodDetailsInfoContent .h2 {
  font-size: 30px;
  margin-top: -6px;
}

@media only screen and (max-width: 767.98px) {
  .prodDetailsInfoContent .h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.prodDetailsInfoContent .price {
  color: #ad2626;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 33px;
}

@media only screen and (max-width: 767.98px) {
  .prodDetailsInfoContent .price {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .prodDetailsInfoContent .priceAmount {
    font-size: 18px;
    font-weight: 500;
    vertical-align: middle;
  }
  .productConfig {
    margin: 40px 0;
  }
  .productConfig .table {
    margin-bottom: 0;
  }
}

/* lightbox */

/* Styles the thumbnail */

a.lightbox img {
  cursor: zoom-in;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  /*margin: 94px 20px 20px 20px;*/
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightboxTarget {
  position: fixed;
  top: -100%;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightboxTarget img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightboxClose {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightboxClose:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightboxClose:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightboxTarget:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightboxTarget:target img {
  max-height: 80%;
  max-width: 70%;
}

.lightboxTarget:target a.lightboxClose {
  top: 0px;
}
