p {
    margin-bottom: 5px;
}

.totalPrice {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

.companyContacts {
    position: relative;
}


.closeButton {
    position: absolute;
    top: -30px;
    right: -30px;
}  

.icon:hover {
    color: #eeb644;
}

@media print {
    .toPrint {
        background-color: rgb(190, 38, 38);
    }
}