.filtercontainer {
  margin-top: 15px;
}

.myBtn1 .button {
  background-color: rgb(233, 185, 83);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
}

@media (min-width: 768px) {
  .myBtn1 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .myBtn1 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .myBtn1 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .row .col-md-1,
  .row .col-sm-1,
  .row .col-lg-1 {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .row .col-md-1,
  .row .col-sm-1,
  .row .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

@media (min-width: 1200px) {
  .row .col-md-1,
  .row .col-sm-1,
  .row .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/*
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/
