.imgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imgCars {
  margin-top: 1.5rem;
  max-width: 90%;
  margin-bottom: 1rem;
}

.itemWrapper {
  margin: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.detailsButton {
  border: 1px solid black;
  border-radius: 1rem;
  margin: auto;
  width: 10rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-right: 0;
}

.detailsButton:hover {
  color: #eeb644;
  border-color: #eeb644;
}

.carItemCart {
  margin-left: 0;
}
