.imgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imgCars {
  margin-top: 0.7rem;
  max-width: 100%;
  margin-bottom: 1rem;
}

.itemWrapper {
  margin: 1rem;
}

.detailsButton {
  border: 1px solid black;
  border-radius: 1rem;
  width: 10rem;
  font-size: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.detailsButton:hover {
  color: #eeb644;
  border-color: #eeb644;
}

.carItemCart {
  margin-left: 0;
  font-size: 1.7rem;
}

h6 {
  font-size: 1rem;
}
