a {
  margin-right: 15px;
  color: #1b1b1c;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  color: #eeb644;
}

.brandName:hover {
  color: black;
}

li {
  margin: 5px 0;
}

.navbarList {
  flex-grow: 0;
}

nav {
  position: relative;
  padding: 0 5px;
  margin-right: 1rem;
}
.myBtn {
  padding: 0 15px;
}
.shoppingCartIcon {
  position: absolute;
  top: 38px;
  right: 60px;
}
.cartNumStyling {
  position: absolute;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  width: 15px;
  height: 15px;
  font-size: 0.6rem;
  text-align: center;
  border: 1px solid black;
  margin-top: 0.6rem;
  border-radius: 50%;
  background-color: white;
}

.cartPriceStyling {
  position: absolute;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1.7rem;
  border: none;
  background-color: white;
}

.cartWrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.2rem;
}
@media (min-width: 576px) {
  .shoppingCartIcon {
    position: static;
  }
  nav {
    margin: 0 30px;
  }
  .cartPriceStyling {
    border: 1px solid black;
  }
}
