.form {
  margin: auto;
  width: 73%;
}
.input {
  display: block;
  height: 50px;
  padding-left: 20px;
  border-radius: 1rem;
  font-size: 1rem;
  border: 1px solid lightgray;
}

.searchIcon {
  font-size: 2rem;
}
