
.searchBar {
  margin: auto;
  border-radius: 0.2rem;
  border: 1px solid lightgray;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 90%;
  color: #303030;
  background: url('https://api.iconify.design/bi:search.svg?width=1.3rem&height=1.3rem') no-repeat 5px center;
}

.input {
  margin-left: 30px;
  width: calc(100% - 30px);
  height: 40px;
  background-color: transparent;
  border: none;
}

.input::placeholder {
  color: #303030;
  font-size: 1rem;
}

.input:focus {
  outline: none;
}

.searchBar:focus {
  outline: none;
  border: 0.5px solid rgb(238, 182, 68) !important;
}

/* todo */
.input:-webkit-autofill, .input:-webkit-autofill:hover, .input:-webkit-autofill:focus .input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}