/* Content
  1. Typografi (styles for: font,  h1-h6, p)
  2. Button 
  3. Logo and Brand name styles 

  Responsive
*/

/* ==========
Typografi
============= */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins&display=swap");

html,
body {
  color: #303030;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #1b1b1c;
  line-height: 1.2;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 60px;
  margin-bottom: 6px;
  margin-top: -15px;
}

p {
  margin-bottom: 15px;
}

strong,
b {
  font-weight: 700;
}

/* ==================
    Buttons Styles 
=====================*/
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.myBtn1 {
  border: 2px;
  cursor: pointer;
  outline: none;
  padding-top: 100px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  width: 30px;
  height: 200px;
  background-color: rgb(233, 185, 83);
}

button:active,
button:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btnGroup .btn {
  margin-right: 15px;
}

.btnGroup .btn:last-child {
  margin-right: 0;
}

.btn {
  border: 2px solid #d8d8d8;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  height: 45px;
  letter-spacing: 0.025em;
  line-height: 41px;
  padding: 0 30px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn1 {
  border: 2px solid #d8d8d8;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  height: 39px;
  width: 100%;
  letter-spacing: 0.025em;
  line-height: 41px;
  padding: 0px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 0.25rem;
  background-color: rgb(233, 185, 83);
}
@media (min-width: 768px) {
  .btn1 {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (min-width: 992px) {
  .btn1 {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (min-width: 1200px) {
  .btn1 {
    padding-left: 2em;
    padding-right: 2em;
  }
}
/*
@media (min-width: 768px) {
  .carousel-indicators {
  margin-bottom: 5rem;
  }
  }
  @media (min-width: 992px) {
    .carousel-indicators {
    margin-bottom: 5rem;
    }
    }
*/
.btn:focus,
.btn:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btnWhite {
  background-color: #d8d8d8;
  border-radius: 25px;
  color: #1b1b1c;
}

.btnWhite:hover {
  background-color: #eeb644;
  border-color: #eeb644;
  color: #ffffff;
}

.btnBrand {
  background-color: #eeb644;
  border-color: #eeb644;
  border-radius: 25px;
  color: #1b1b1c;
}

.btnBrand:hover {
  background-color: #d8d8d8;
  border-color: #d8d8d8;
}

.btnBlack {
  background-color: #1b1b1c;
  border-color: #1b1b1c;
  border-radius: 25px;
  color: #ffffff;
}

.btnBlack:hover {
  background-color: #d8d8d8;
  border-color: #d8d8d8;
  color: #1b1b1c;
}

.btnBordered {
  border-radius: 0;
  border-width: 1px;
  font-size: 16px;
  padding: 0 40px;
  height: 50px;
  line-height: 48px;
}

.btnBordered:hover {
  border-color: #eeb644;
  color: #eeb644;
}

/* btn "Empty all" in the Shopping cart  */

.btnEmptyCart {
  font-size: 12px;
  font-weight: 300;
  padding: 3px 10px;
  margin: 0 2px;
  border: 1px solid #ad2626;
  border-radius: 25px;
  background-color: #ad2626;
  color: white;
  transition: all .2s;
}

.btnEmptyCart:hover {
  background-color: #691717;
}

/* ==================
    Logo and Brand name styles 
=====================*/
.logo {
  width: 80px;
  height: auto;
}

.brandName {
  margin-right: 15px;
  color: #1b1b1c;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.subBrand {
  letter-spacing: 0.06cm;
  color: #eeb644;
}

/* ==========
Responsive
============= */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  h3,
  .h3 {
    margin-top: -9px;
  }
}

@media only screen and (max-width: 767.98px) {
  h3,
  .h3 {
    margin-top: -6px;
  }
}

h4,
.h4 {
  font-size: 32px;
  margin-bottom: 14px;
  margin-top: -8px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  h4,
  .h4 {
    margin-top: -6px;
  }
}

@media only screen and (max-width: 767.98px) {
  h4,
  .h4 {
    margin-top: -5px;
  }
}

h5,
.h5 {
  font-size: 26px;
  margin-bottom: 15px;
}

h6,
.h6 {
  font-size: 20px;
  margin-bottom: 12px;
}
